* {
  box-sizing: border-box;
}

.heading {
  font-size: 60px;
  font-family: "Poppins", serif;
  margin: 0;
  font-style: normal;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar > .links {
  display: flex;
}

.links > li {
  padding: 10px;
  width: 90px;
}
